<h1>Listing actions</h1>

<table id="actions-table">
  <tr>
    <th>Title</th>
    <th>Created at</th>
    <th>Creator</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Action</a>