<h1>New action</h1>

<form id="new-action" name="new-action">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value=<%= title %> >
  </div>

  <div class="field">
    <label for="notes"> notes:</label>
    <input type="text" name="notes" id="notes" value=<%= notes %> >
  </div>

  <div class="field">
    <label for="created_at"> created_at:</label>
    <input type="text" name="created_at" id="created_at" value=<%= created_at %> >
  </div>

  <div class="field">
    <label for="creator"> creator:</label>
    <input type="text" name="creator" id="creator" value=<%= creator %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create Action" class="btn" />
  </div>

</form>

<a href="#/index">Back</a>