<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Notes:</b>
  <%= notes %>
</p>

<p>
  <b>Created at:</b>
  <%= created_at %>
</p>

<p>
  <b>Creator:</b>
  <%= creator %>
</p>


<a href="#/index">Back</a>