<span class="label label-important">New</span>
<i class="icon-trash destroy"> </i>
<div class="title">
  <textarea placeholder="Write your action title and hit enter" name="title" rows="1"></textarea>
</div>
<div class="description" style="display:none">
  <div contenteditable=true placeholder="Add an action description" name="description" rows="2"></div>
</div>