<div class="title">
  <i class="icon-edit"></i>
  <textarea placeholder="Write your action title and hit enter" name="title" rows="1"></textarea>
</div>
<div class="description" style="display:none">
  <textarea placeholder="Description" name="description" rows="2"></textarea>
</div>