- unless current_user.nil?
  = link_to 'â† Back to publications', template_publications_path(@publication.template)
#template
  %h2= @publication.template.title
  %ul.items
    - @publication.template.items.roots.each do |item|
      = render "item", item: item