%ul.breadcrumb
  %li
    = link_to "Actions", actions_path
    %span.divider /
  %li.active
    All
#notice
#actions
:javascript
  $(function() {

    window.router = new Actions.Routers.ActionsRouter({actions: #{@actions.to_json.html_safe}});
    Backbone.history.start();
  });
