<h1><a href="#">Actions</a></h1>

<div id="notice"></div>

<div id="actions"></div>


<script type="text/javascript">
  $(function() {

    window.router = new Actions.Routers.ActionsRouter({actions: <%= @actions.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>

