%li
  %strong= item.title
  - unless item.description.blank?
    %p= raw(item.description)
  - unless item.leaf?
    %ul
      - item.children.each_with_position do |item|
        = render "shared/item", item: item