Want to
= link_to p.template.title, publication_path(p), {:class=>'publication_link'}
?
%p Follow the steps and get the support from the community.
%p Start by getting the to-do list on your phone now.