
#social-share
  %ul.unstyled.nav.pull-right
    %li
      .g-plusone{ "data-size" => "medium"}
    %li= link_to "Tweet", "https://twitter.com/share", { :class => "twitter-share-button", "data-hashtags" => "actionsim"}
    %li
      #fb-root
      .fb-like{ "data-send" => "false", "data-layout" => "button_count", "data-width" => "220", "data-show-faces" => "true"}

= javascript_include_tag 'social_sharing'
