<div class="action row-fluid">
  <div class="action_status">
    <input type='checkbox' class='incomplete' id="action[<%= id %>]"/>
  </div>
    <div class='action_info'>
      <label><%= title %></label>
    </div>
    <% if (!leaf) { %>
      <div class='action_details'>
        <%= child_count %> <i class="icon-chevron-right"></i>
      </div>
    <% } %>
  <div class="description">
    <%= description %>
   </div>
</div>