<div class="action row-fluid">
  <div class="action_status">
    <input type='checkbox' id="action[<%=id%>]" value=1 <%if (checked) {%> "checked" <%}%>/>
  </div>
  <a href='<%=url%>'>
    <div class='action_info'>
      = label_tag "action[#{id}]", title
    </div>
    <% if (!leaf) {%>
      <div class='action_details'>
        <i class="icon-chevron-right"></i>
      </div>
    <%}%>
  </a>
  <div class="description">
    <%=description%>
   </div>
</div>