-@newest_publications.each do |p|
  .row.news_feed_item
    .span8
      = p.creator ? link_to(p.creator.name, user_publications_path(p.creator.id)) : "Anonymous"
      %i published
      = distance_of_time_in_words_to_now(p.updated_at)
      ago
    .span8
      %b= link_to p.template.title, publication_path(p)
      %p= raw(p.template.description)
