= content_for :header do
  = link_to project_path(@project), { class: 'brand' } do
    %i{:class => "icon-home icon-white"}
  .nav_header
    = link_to @project.title, project_path(@project), { class: 'brand', id: 'action_header'  }

#project

:javascript
  $(function() {
    ProjectApp.init(#{ @project.to_json().html_safe });
  });