
.row{:style => 'margin-top: 200px'}
  .span12
    .highlight
      %span.large
        I will
      %input#title.spark.wide{:autocomplete => 'off'}
      %span.large every
      %btn-group{:data_toggle => "buttons-radio"}
        %button.btn-large day
        %button.btn-large week
        %button.btn-large month
.row{:style => 'margin-top: 200px'}
  .span12
    .highlight
      .hcenter
        %a.btn.btn-very-large.btn-primary.disabled
          %i.icon-fire
          Share
