<a href="#index">â† Back to templates</a>
<div id="new-publication">
  <button class="btn btn-primary btn-large" data-disable-with="Publishing...">Publish</button>
</div>
<div class="title">
  <textarea name="title" rows="1"><%= title %></textarea>
</div>
<div class="description" style="display: <%= description == '' ? 'none':'block' %>">
  <textarea name="description" rows="3" placeholder="Description"><%= description %></textarea>
</div>
