<div style="clear:both" />
<div id="new-publication">
  <button class="btn btn-primary btn-large" data-disable-with="Publishing...">Publish</button>
</div>
<div class="title">
  <input type=text name="title" autocomplete="off" class="editable" rows="1" placeholder="Write your action title and hit enter"></input>
</div>
<div class="description" style="display: block">
  <div name="description" class="editable" contenteditable=true placeholder="Add a goal description"></div>
</div>

