<form id="new-template" name="template" class="form-inline">
  <input type="text" name="title" id="title" value="<%= title %>" class="input-xxlarge" placeholder="How to..." >
  <input type="submit" value="Create Template" class="btn" />
</form>