<h2>
  <a href="#<%= _id %>/items" class="inner"><%= title %></a>
  <small>
    <!-- hiding delete for now to avoid loosing valuable data -->
    <!-- <a href="#<%= _id %>/destroy" class="destroy inner">[destroy]</a> -->
    <!-- -->
  </small>
</h2>
