<div class="title">
  <textarea placeholder="New item" name="title" rows="1"></textarea>
</div>
<div class="description" style="display:none">
  <textarea placeholder="Description" name="description" rows="2"></textarea>
</div>