a.nav-home
  float: left
  margin-right: 1%

div.action
  border-bottom: 1px solid #555

  &:last-child
    border-bottom: 0 none transparent

  &.completed
    background-color: #DEE

    span.action-title
      text-decoration: line-through

  &.active
    background-color: #4596ce
    color: #fff
    cursor: pointer
    text-shadow: 0 -1px 1px #145072
    @include gradient-vertical(#85bae4, #5393c5)

  div.action-status
    float: left
    padding: 10px 15px

  div.action-info
    padding: 10px 0
    margin-left: 42px

    span.action-details
      float: right
      padding-right: 1.064%
      margin-left: 0%

    span.action-title
      font-weight: bold

    p.action-description
      padding-right: 2%
      max-height: 50px
      overflow: hidden

@media (max-width: 979px)
  a.nav-home
    margin-left: -5px

@media (max-width: 480px)
  a.nav-home
    margin-left: -20px
