.action
  padding: 10px 0
  border-top: 1px solid #eee

  .action_info
    width: 89.261%
    padding-left: 2.128%

  .action_details
    width: 5.319%
    padding-right: 1.064%

  label
    display: inline
    font-weight: bold