.nav_home
  float: left
  display: inline
  width: 20px
  padding-right: 20px
  padding-left: 20px
  margin-left: 0

.action
  padding: 10px 0
  border-bottom: 1px solid #555

  &:last-child
    border-bottom: 0 none transparent

  .action_status
    float: left
    display: inline
    width: 3%
    padding: 0.5%
    margin-left: 0

  .action_info
    float: left
    display: inline
    width: 89.261%
    padding-left: 2.128%
    margin-left: 0

  .action_details
    float: left
    display: inline
    width: 3%
    padding-right: 1.064%
    margin-left: 0%

  .description
    float: left
    display: block
    width: 96%
    padding-left: 2%
    padding-right: 2%
    padding-top: 5px
    padding-bottom: 5px
    margin-left: 0%

    a
      padding: 10% 30%

  label
    display: inline
    font-weight: bold