@import "variables"
@import "bootstrap"
@import "templates.css.sass"
@import "actions"
@import "bootstrap-responsive"

html, body
  background-color: #eee

body
  padding-top: 40px

.incomplete
  width: 25px
  height: 25px
  padding: 0 5px 0 0
  clear: left
  float: left

.container-fluid
  .content
    padding: 0
    margin-bottom: 20px
    background-color: #fff
    @include border-radius(0 0 6px 6px)
    @include box-shadow(0 1px 2px rgba(0,0,0,.15))

    .page-header
      background-color: #f5f5f5
      padding: 10px 20px
      margin: 0



@media (max-width: 979px)
  body
    padding-top: 0

  .navbar-fixed-top
    margin-bottom: 0

@media (max-width: 480px)
  .container-fluid
    padding: 0

