div#content
  & > nav > ul.nav
    li
      float: left
    li:last-child
      float: right
    li:first-child
      float: left

  & > div#template
    clear: both


#publication
  h2
    color: #4A3C31
    font-size: 1.45em
    //background: url(http://pad2.whstatic.com/skins/WikiHow/images/module_caps.png) no-repeat 0 -92px
    margin: 0 0 10px -20px
    padding-top: 0
    padding-left: 40px
    line-height: 42px
    height: 53px
    width: 647px
    clear: both
    position: relative

  li.action_header
    color: #4A3C31
    font-size: 20px
    //background: url(http://pad2.whstatic.com/skins/WikiHow/images/module_caps.png) no-repeat 0 -92px
    //margin: 0 0 10px -20px
    padding-top: 0
    padding-left: 40px
    line-height: 42px
    clear: both
    position: relative
  p.preview



