<h1>Edit template</h1>

<form id="edit-template" name="template">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value=<%= title %> >
  </div>

  <div class="actions">
    <input type="submit" value="Update Template" />
  </div>

</form>

<a href="#/index">Back</a>