<form id="new-template" name="template">
  <div class="clearfix">
    <input type="text" name="title" id="title" value="<%= title %>" class="span11" placeholder="What you want to share?" >
    <input type="submit" value="Create Template" class="btn" />
   </div>
 </form>